<div class="members">
  <h1 class="page-header"> Members </h1>
  <% 12.times do |x| %>
  <div class="row member-row">
    <div class="col-md-3">
      <div class="text-center">
      <%= image_tag(image_url("/logo1.jpg"), size: "150x150", class: "img-thumbnail") %>
        SomeUser0 <%= x + 1%>
      </div>
    </div>
    <div class="col-md-3">
      <p>
        <%= link_to "#", class: "btn btn-success btn-block" do%>
          <i class="fa fa-users"></i> Friend Request
        <% end %>
      </p>
    </div>
    <div class="col-md-3">
      <p>
        <%= link_to "#", class: "btn btn-default btn-block" do%>
          <i class="fa fa-envelope"></i> Send Message
        <% end %>
      </p>
    </div>
    <div class="col-md-3">
      <p>
        <%= link_to "#", class: "btn btn-primary btn-block" do%>
          <i class="fa fa-edit"></i> View Profile
        <% end %>
      </p>
    </div>
  </div>
  <% end %>
</div>
