<!DOCTYPE html>
<html>
  <header class="application">
    <title>Batchmates</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <%= render "static_pages/header" %>
    <%= render "static_pages/navbar" %>
  </header>
<body>
  <div  class= "container">
    <div class="row">
      <div class="col-md-8">
        <%= yield %>
      </div>
      <div class="col-md-4">
        <%= render "friends/index" %>
        <%= render "groups/index" %>
      </div>
    </div>
  </div>
</body>
<footer>
  <div class= "container">
    <div class= "row">
      <div class= "col-md-6 menu">
        <ul>
          <li> <a href= "#"> Home </a></li>
          <li> <a href= "#"> About</a></li>
          <li> <a href= "#"> Contact</a></li>
          <li> <a href= "#"> Privacy Policy</a></li>
          <li> <a href= "#"> Owner Information </a></li>
        </ul>
      </div>
      <div class= "col-md-6 copyright">
        <p>Copyright &copy; 2016. All Rights Reserved. By Dren Gravidez. </p>
      </div>
    </div>
  </div>
</footer>

</html>
